@media screen and (max-width: 1024px) {
    .logo {
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: -1;
    }
    .st {
        width: 90%;
        margin: 0 auto;
    }
    #pause,
    .random {
        font-size: 60px;
        text-align: center;
        margin-top: 15%;
    }
    .counter{
        font-size: 25px;
        margin: 10px 0 0 10px;
    }
    span.x2 {
        font-size: 35px;
        font-style: italic;
    }
	.btn-game{
		position: absolute;
        margin-top: 0px;
    }

    #alko {
        animation: alko 2s infinite linear;
    }
}
@media screen and (max-width: 768px) {
    .logo {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .st {
        width: 35%;
        margin: 0 auto;
    }
    #pause,
    .random {
        font-size: 170px;
        text-align: center;
        margin-top: 17%;
        line-height: 90%;
    }
    .counter {
        position: absolute;
        top: 0;
        font-size: 50px;
        margin: 60px 0 0 20px;
    }
    span.x2 {
        font-size: 100px;
        font-style: italic;
    }
	.btn-game{
		postion: absolute;
		top: 0;
		margin-top: 65px;
    }

    #alko {
        animation: alko 2s infinite linear;
    }
}

@media (max-width: 480px) {
    #alko {
        animation: alko 2s infinite linear;
    }
}
