@media screen and (max-width: 1200px) {
    .contact {
        width: 50vw;
    }

    #game .counter {
        font-size: 35px;
        margin: 50px 0 0 15px;
    }

    #game .center {
        font-size: 100px;
    }

    #game .random .x2 {
        font-size: 80px;
    }
}

@media screen and (max-width: 1024px) {
    #game .counter {
        font-size: 25px;
    }

    #container .logo {
        width: 100vw;
    }

    .form {
        min-width: 80vw;
    }

    #game .center {
        font-size: 80px;
    }

    #game .random .x2 {
        font-size: 60px;
    }

    .navbar-header {
        float: none;
    }

    .navbar-left,.navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}

    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}

	.navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in{
  		display:block !important;
	}
}

@media screen and (max-width: 768px) {
    .contact {
        width: 80vw;
    }

    .form .title {
        width: 110px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #game {
        flex-direction: column;
    }

    #game .counter {
        display: flex;
        flex-wrap: wrap;
        height: 40vh;
        width: 100vw;
        font-size: 16px;
        margin: 40px 0 0 15px;
    }

    #game .counter .list {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    #game .counter .memb_counter {
        width: 50vw;
    }

    #game .counter button {
        position:absolute;
    }

    #game .center {
        height: 50vh;
        width: 100vw;
        font-size: 70px;
        display: flex;
        align-items: start;
        justify-content: center;
    }

    #game .random .x2 {
        font-size: 30px;
    }

    #game .counter .player {
        max-width: 50vw;
    }

    #game .counter .memb_counter {
        margin-top: 10px;
    }

    #game .buttons {
        margin: 62px 15px 0 0;
    }
}

@media (max-width: 480px) {
    .form {
        min-width: 100vw;
    }

    .contact {
        width: 100vw;
        padding-right: 10px;
    }

    #game .center {
        font-size: 40px;
    }

    #game .random .x2 {
        font-size: 20px;
    }
}
