@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    position: relative;
    overflow-x: hidden;
}

html {
    font-size: 14px;
    scroll-behavior: smooth;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.navbar {
    width: 100vw;
    position: fixed;
    z-index: 999;
}

#container,
#game {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container .form {
    width: 50vw;
    height: 80vh;
    padding: 10px;
}

.contact {
    width: 50vw;
    margin: 0 auto;
}

h4 {
    padding: 15px 0;
}

.form .stats {
   margin-right: 5px;
}

.form .panel-title {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form .title {
    margin-top: 5px;
    display: inline-block;
}

.alert {
    padding-top: 20px;
}

.form .started {
    margin: 0 15px;
}

.form .pull-left {
    margin-top: 4px;
}

.form .pull-right {
    margin-top: -3px;
}

.form .back {
    margin-right: 15px;
}

.form .add,
.form .remove {
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 7px;
}

.form .remove {
    margin: 2px 0 7px 0;
}

.form .bomb {
    font-size: 12px;
}

.m_logo {
    height: 43px;
    float: left;
    margin: -12px 10px 0 5px;
}

.label {
    padding-top: 5px;
}

.lang {
    margin: 14px 30px 15px 15px;
}

.lang img {
    width: 25px;
    opacity: 0.3;
    transition: 0.3s;
}

.lang img:hover {
    opacity: 1;
}

.lang .active {
    opacity: 1;
}

#game .buttons {
    position: absolute;
    top: 0;
    right: 0;
    margin: 62px 15px 0 0;
}

#game .counter {
    top: 0;
    width: 30vw;
    height: 90vh;
    margin: 45px 0 0 15px;
    font-size: 48px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

#game .counter .player {
    min-width: auto;
    max-width: 20vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

#game .center {
    width: 70vw;
    font-size: 140px;
    text-align: center;
}

#game .random .x2 {
    font-size: 100px;
}

.clear {
    clear: both;
}

#alko {
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 30px;
    animation: alko 30s infinite linear;
}

@keyframes alko {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -100vw 0;
    }
}
